<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/">HOME</a>
    <a href="/recipes/index" >ALL RECIPES</a>
    <% if (user) { %>
    <a href="/auth/google" class="login">LOG OUT&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
<body>
    