<%- include('./partials/header') %>
<h1>Welcome to Recipes!</h1>
<form action="/recipes/index" method="POST" >
    <div class="input-group mb-3">
    <input type="text" name="name" class="form-control" placeholder="">
    <button class="btn btn-outline-secondary" id="button-addon1">ADD A RECIPE</button>
</form>
</div>

 

<%- include('./partials/footer') %>