<%- include('./partials/header') %>
<section id="welcome-page" class="container">
<h1>Welcome to Shop-List!</h1>
<form action="/recipes/index" method="POST" >
    <div class="input-group mb-3">
        <input type="text" name="name" class="form-control" required>
        <button class="btn btn-outline-secondary" id="button-addon1">ADD A RECIPE</button>
    </div>
</form>
</section>

 

<%- include('./partials/footer') %>