test {
  colors: #f9f2dc;
  colors: #B78D60;
  colors: #d8a37b4d;
  colors: #5494B3;
  colors: #847C3A;
  

}

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #f9f2dc;
}

a {
  color: black;
}

img {
  vertical-align: middle;
  margin-left: 10px;
}
body > nav {
  grid-area: nav;
  background-color: #B78D60;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  margin-bottom: 20px;
}
.card {
 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  word-wrap: break-word;
  background-color: #ffffffb8;
  background-clip: border-box;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: 2.25rem;
  
  
  padding: 20px;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  align-items: center;
}

.card>.list-group {
  border-top: inherit;
  border-bottom: inherit;
  align-items: center;
}

h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
  
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

footer {
  margin-top: 55vmin;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover {
  color: white;
  background-color: #847C3A;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

.user-tile {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.add-ingredient {
  display: flex;
  width: 40em;
  margin-left: 9em;
  margin-top: 2em;
}

#quantity {
  width: 57px;
}

.add-ingredient {
  display: flex;
  width: 40em;
  margin-left: 9em;
  flex-direction: column;
  margin-top: 2em;
}

.ingredient-quantity {
  display: flex;
  flex-direction: row;
}
.form-control {
  display: block;
  width: 50%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#edit-form {
  padding: 10px;
}
.btn {
  background-color: #5494B3;
}
.btn-outline-secondary {
  color: white;
}
.btn:hover {
  background-color: #847C3A;
}

.list-group-flush>.list-group-item:last-child {
  border-bottom-width: 0;
  background-color: transparent;
}

.card-subtitle {
  margin-top: -.25rem;
  margin-bottom: 0;
  color: #847C3A;
}

a:hover {
  color: #5494B3;
  
}