body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: black;
}

body {
  /* margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main" */
}
img {
  vertical-align: middle;
  margin-left: 10px;
}
body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: 2.25rem;
  margin-left: 18em;
  margin-top: 20px;
}

h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

footer {
  margin-top: 55vmin;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

.user-tile {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.add-ingredient {
  display: flex;
  width: 40em;
  margin-left: 9em;
  margin-top: 2em;
}

#quantity {
  width: 57px;
}