<%- include('../partials/header') %>
<h1>My Shopping List</h1>
<section class="container">
<div id="ingredients-list">
    <table class="table">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% ingredients.forEach(function(i) { %>
                <tr>
                    <td>
                        <%= i.ingredient %>
                    </td>
                    <td>
                        <%= i.quantity %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>
</section>

<%- include('../partials/footer') %>