<%- include('../partials/header') %>
<h1>Ingredients Page!</h1>
<div id="ingredients-list">
<% ingredients.forEach(function(i) { %>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><%= i.ingredient %> ( <%= i.quantity %> )</li>
    </ul>
   
 
<% }) %>     
</div>
        
   

    

<%- include('../partials/footer') %>